<h1>{{title}}</h1>

<section>
    <div class="containers">
        <div class="container">
            <form action="POST" action="/submit">
                <div class="field">
                    <label class="label" for="username">Username</label>

                    <div class="control">
                        <input type="password" placeholder="password" name="password" class="input">
                        <p class="help">Make it secure.</p>
                    </div>
                    <div class="control">
                        <button class="is-primary">Submit</button>
                    </div>
            </form>
        </div>
    </div>
</section>