<section>
    <div class="containers">
        <div class="container">
            {{ title }}
            <form method="POST" action="/submit">
                <div class="field">
                    <label class="label" for="city">City</label>
                    <div class="control">
                        <input type="text" placeholder="city" name="city" class="input">
                    </div>
                    <label class="label" for="country">Country</label>
                    <div class="control">
                        <input type="text" placeholder="country" name="country" class="input">
                    </div>
                    <label class="label" for="date">Date</label>
                    <div class="control">
                        <input type="text" placeholder="date" name="date" class="input">
                    </div>
                    <label class="label" for="notes">Notes</label>
                    <div class="control">
                        <input type="textarea" placeholder="notes" name="notes" class="input">
                    </div>
                    <label class="label" for="password">Password</label>
                    <div class="control">
                        <input type="password" placeholder="password" name="password" class="input">
                        <p class="help">Make it secure.</p>
                    </div>
                    <div class="control">
                        <button class="is-primary">Submit</button>
                    </div>
            </form>
        </div>
    </div>
</section>
