<section>
    <div class="containers">
        <div class="container">

            <ul>
                {{#each place}}

                <li>{{this}}</li>
                {{/each}}

            </ul>
        </div>
    </div>
</section>